{% extends "base.html" %}

{% block title %}
    Report
{% endblock %}

{% block main %}

    <form id='report-form' action='.' method="post" oninput="cash.value=parseFloat(revenue.value)-parseFloat(cashless.value)" onchange="finish_cash.value=parseFloat(begin_cash.value)+parseFloat(cash.value)">
        {% csrf_token %}
        <input id='csrf_token' value='{{ csrf_token }}' hidden>

        <h2 id="shop" type='text'>{{ shop.name }}</h2>
        <input id='shop_id' value='{{ shop.id }}' hidden>

        <div>
            <label for="day">Дата заполнения: </label>
            <input id='day' name='day' value='{{ day|date }}' type="date">
        </div>

        <div>
            <label for="begin_cash">Остаток на начало дня: </label>
            <input id='begin_cash' value='{{ begin_cash.0.amount }}' type="number">
        </div>

        <div>
            <label for="revenue">Выручка: </label>
            <input id="revenue" name="revenue" required step="0.01" min="0" type="number">
        </div>

        <div>
            <label for="cashless">Безнал: </label>
            <input id="cashless" name="cashless" required step="0.01" min="0" type="number">
        </div>

        <div>
            <label for="cash">Наличка: </label>
            <output id="cash" for='revenue cashless'></output>
        </div>

        <div>
            <label for="finish_cash">Остаток на конец дня: </label>
            <output id="finish_cash" for='begin_cash cash'></output>
        </div>

        <div>
            <label for="staff_member">Отчет заполнил: </label>
            <input id="staff_member" list="staff_list" name="staff_member">
            <datalist id="staff_list">
                {% for person in staff %}
                    <option value="{{ person.id }}">{{ person.first_name }} {{ person.last_name }}</option>
                {% endfor %}
            </datalist>
        </div>

        <input id='report-button' type="button" value="Записать отчет">
    </form>    
{% endblock %}
