{% extends "base.html" %}

{% block title %}
    Shop
{% endblock %}

{% block main %}

    <div class="post">
        <h2>{{ shop.name }}</h2>

        <div class="pagination">
            <a href="/management/{{ shop.id }}/{{ month_delta|add:1 }}">Предыдущий месяц</a>
            
            <span>{{ month }}</span>
            
            {% if month_delta > 0 %}
                <a href="/management/{{ shop.id }}/{{ month_delta|add:-1 }}">Следующий месяц</a>
            {% endif %}
        </div>

        <table class='table'>  
            <thead>
                <tr>
                    <th>Статья расходов</th>
                    {% for date in data.1.days.keys %}
                        <th>{{ date }}</th>
                    {% endfor %}
                    </tr>
            </thead>
            <tbody>
                {% for cost in data.values %}
                    <tr>
                        <td>{{ cost.name }}</td>
                        {% for day in cost.days.values %}
                            <td>{{ day.amount__sum|floatformat:2|default:"0" }}</td>
                        {% endfor %}
                    </tr>                
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
