{% extends "base.html" %}

{% block title %}
    Shops
{% endblock %}

{% block main %}
    <div class="post">
        <h1>SS</h1>>
        {% for shop in shop_list %}
            {% if shop.trademark == 'SS' %}
                <h2><a href="{{ shop.id }}/0">{{ shop.name }}</a></h2>
            {% endif %}
        {% endfor %}
    </div>
    <div class="post">
        <h1>SW</h1>>
        {% for shop in shop_list %}
            {% if shop.trademark == 'SW' %}
                <h2><a href="{{ shop.id }}/0">{{ shop.name }}</a></h2>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
