{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block main %}
    <main role="main" class="container mt-2">
        <div class="row">
            <div class="content-section col-md-8 mt-2">
                <form method="POST">
                    {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Join Today</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-green" type="submit">Sign Up</button>
                        </div>
                </form>
                <div class="border-top pt-3 mb-4">
                    <small class="text-muted">
                        Already Have An Account?<a href="{% url 'login' %}" class="ml-2 green-text">Sign In</a>
                    </small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-section mt-2">
                    <h3>Our Sidebar</h3>
                    <p class='text-muted'>You can put any information here you'd like.
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">Latest Posts</li>
                        <li class="list-group-item list-group-item-light">Announcements</li>
                        <li class="list-group-item list-group-item-light">Calendars</li>
                        <li class="list-group-item list-group-item-light">etc</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        </div>
    </main>
{% endblock main %}